<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show user</title>
</head>
<body>
<div th:switch="${user.getTasks()}">
    <h2 th:case="null">No tasks for user</h2>
    <div th:case="*">
        <h2>Tasks:</h2>
        <table th:border="1" th:cellspacing="0">
            <thead>
            <tr>
                <th>Task name</th>
                <th>Deadline</th>
                <th>Status</th>
                <th>Completed</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task:${user.getTasks()}">
                <td th:text="${task.getTaskName()}"></td>
                <td th:text="${task.getDeadline()}"></td>
                <td th:text="${task.getStatus()}"></td>
                <td th:text="${task.getCompleted()}"></td>
                <td><form th:action="@{/admin/delete-task/{taskId}(taskId=${task.getId()})}" th:method="POST">
                    <input type="submit" value="Delete task"/>
                </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br/>
<form th:action="@{/admin/create-task}" th:object="${user}" th:method="get">
    <input type="submit" value="Set new task"/>
</form>

<br/>
<a th:href="@{/admin}">Back to list</a>

</body>
</html>